/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/comfortaa */
@import "http://fonts.fontstorage.com/import/comfortaa.css";
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/gabriela */
@import "http://fonts.fontstorage.com/import/gabriela.css";
/*
	Gabriela, 400
*/
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/barkentina */
@import "http://fonts.fontstorage.com/import/barkentina.css";
/*
	Barkentina, 400
*/



body {
	/*font-family: "Comfortaa";*/
	font-family: Georgia, serif;;
}

#pp {
	transform: scale(1);
	transition: transform 2s;
}

#pp:hover {
	transition: transform 2s;
	transform: scale(1.5);
}

div{
	
	overflow: hidden;
	/*border : 1px solid rgb(255, 0, 0);*/
}

.adri {
	animation: float 6s ease-in-out infinite;
	background-color: rgb(255, 166, 0);
}


em {
	text-decoration: underline;
}


.exp-show:hover {
	
	transform: translate(-200%, 0);
}

.exp-show {
	transform: translate(-70%, 0);
	transition: transform 2s;
	clip-path: polygon(0% 0%, 72% 0, 86% 48%, 73% 100%, 0% 100%);
}

.fond {
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}



@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px) translatex(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px) translatex(5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px) translatex(0px);
	}
}
