#pp{
	width : 50%;
	margin : 3px;
	padding : 5px;
}

#pp:hover {
	transition-duration: 2s;
	transform: scale(1.5);
}

div{
	
	overflow: hidden;
	/*border : 1px solid rgb(255, 0, 0);*/
}

.adri {
	animation: float 6s ease-in-out infinite;
	background-color: rgb(255, 166, 0);
}

em {
	text-decoration: underline;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px) translatex(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px) translatex(5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px) translatex(0px);
	}
}